.steps-section {
    text-align: center;
    padding: 160px 0px;
  }
  
  .steps-subtitle {
    color: #7a5af8;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
    letter-spacing: 0.6px;
    margin-top: 0px;
  }
  
  .steps-title {
    font-size: 48px;
    font-weight: 700;
    color: #090909;
    margin-bottom: 80px;
    line-height: 58px;
    margin-top: 0px;
  }
  
  .steps-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .step-card {
    width: 100%;
    text-align: center;
    padding: 0px 20px;
  }
  
  .step-card .icon-wrapper {
    width: 120px;
    height: 120px;
    background-color: rgb(253 208 35 / 10%);
    border-radius: 50%;
    margin: 0 auto 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }
  
    .step-card .step-title {
    font-size: 24px;
    font-weight: 700;
    color: #090909;
    margin-bottom: 12px;
    line-height: 32px;
    margin-top: 0px;
  }
  
  .step-card  .step-desc {
    font-size: 16px;
    color: #090909;
    line-height: 24px;
    font-weight: 400;
    margin-top: 0px;
  }
  