/* Import Ant Design reset styles AFTER your @font-face definitions */
body {
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  max-width: 1160px;
  margin: 0 auto;
}